#main-view-port {

	padding: 10px;
}

#main-view-port label {

	margin-bottom: 15px;
}

#main-view-port label input[type="text"]{

	height: 30px;
}

#product-list li {

	padding: 10px;
	border: 1px #ccc solid;

}

#product-list li .remove-product-button{

	display: hidden;
	cursor: pointer;
}

#product-list li:hover .remove-product-button{

	display: inline;
}

.wpcart-long-input {

	width: 100%;
}

.wpcart-medium-input {

	width: 50%;
}

/* Product options */
#wpcart-product-options {

	padding: 10px;
	margin: 15px 0 ;
	border-top: 1px #777 dashed;

}

#wpcart-product-options-sandbox{

	padding: 10px;
	border: 1px #ccc solid;
	height: auto;
	width: 640px;

}

#wpcart-property-list li {

	clear: both;
	margin: 15px 0 50px 0;
	display: block;
	height: auto;
}