#wpcart-cart{

	position: fixed;
	top: 30px;
	right: 10px;
	width: 300px;
	min-height: 30px;
	border: 1px #333 dashed;
	background: #ffffff;
	color: #00000;
	
}

#wpcart-cart ul {

	margin: 0 0 0 -30px;
	padding: 0;
	list-style: none;
}

#wpcart-cart ul li{

	padding: 5px;
	border-bottom: 1px #ccc dashed;
}

.wpcart-remove-item{

	cursor: pointer;
	font-size: 10px;
	float:right;
	color: #cc0000;
}

.wpcart-remove-item:hover{

	text-decoration: underline;
	
}